name: Scala Test CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: '23'
        distribution: 'temurin'
    - name: Setup SBT
      uses: sbt/setup-sbt@v1
    - name: clone Liftoff and run sbt publishLocal
      run: |
        git clone https://github.com/tjarker/liftoff.git
        cd liftoff
        sbt 'publishLocal; macros/publishLocal'
    - name: Setup Verilator
      run: sudo apt-get install verilator
    - name: Run tests
      run: sbt test
